/* 마이페이지 메뉴리스트 */
.mypage__menu_box {
  margin-top: 50px;
  width: 15%;
}

.menu__list {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 300;
}

.menu__li {
  margin-bottom: 20px;
}

.menu__a {
  text-decoration: none;
  color: rgb(70, 170, 170);
}

.menu__a:active {
  text-decoration: none;
  color: rgb(70, 170, 170);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #040404;
}
/* 마이페이지 메뉴리스트 */

.mypage__my_box {
  margin-top: 100px;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 회원정보 박스 */
.member__information_box {
  width: 1050px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 100px;
}

.member__box {
  display: flex;
  margin-top: 70px;
}

/* 회원 이미지 박스 */
.member__img_box {
  width: 110px;
  height: 85px;
}

.member__img {
  width: 100px;
  height: 85px;
  border-radius: 50%;
}
/* 회원 이미지 박스 */
/* 회원 이름 및 누적 금액 */
.member__name_money_box {
  display: block;
  width: 700px;
  margin-left: 30px;
  border-right: thick solid #64c8c8;
}

.member__information_name {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  font-weight: 500;
  font-size: 22px;
  color: rgb(4, 4, 4);
}

.member__information_accumulated_amount {
  font-weight: 300;
  font-size: 15px;
  color: rgb(4, 4, 4);
}
/* 회원 이름 및 누적 금액 */
/* 적립금 표시 박스 */
.saved__money_box {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.saved__money_name {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}
.saved__a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}

.saved__money_amount {
  font-weight: 700;
  font-size: 32px;
}

.saved_money_amount_a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}
/* 적립금 표시 박스 */
/* 회원정보 박스 */

/* 주문조회 내역 */
.order__inquiry_title {
  padding-bottom: 10px;
  border-bottom: 5px solid #64c8c8;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 700;
}

.order__breakdown {
  text-align: center;
  padding: 70px;
  color: rgb(39, 57, 125, 0.4);
}

/* 주문내역 리스트 */
.order__breakdown_box {
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding-top: 50px;
}

.order__inquiry_list_title {
  display: flex;
  padding-top: 5px;
  border-bottom: 1px solid #d4d4d4;
}

.list__title {
  height: 40px;
  margin-top: 20px;
  display: flex;

  border-bottom: 1px solid #040404;
}

.title_date {
  width: 120px;
}

.title_order_details {
  width: 500px;
}
.order_details {
  display: flex;
}

.title_order_img {
  width: 60px;
  height: 60px;
  padding-right: 40px;
  padding-left: 40px;
}
.title_order_content {
  padding-left: 0px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title_order_number {
  width: 120px;
}

.title_payment_amount {
  width: 120px;
}

.title_order_state {
  width: 280px;
}

.a__order_details {
  text-decoration: none;
  color: #040404;
}

/* 회원 수정 모달창 =============================== */

/* 회원 탈퇴 모달창 =============================== */
