/* 전체 폰트 설정*/
* {
  font-family: "GmarketSansMedium";
}

/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main__mypage {
  width: 1300px;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

/* 마이페이지 */

/* main_left */
.main__menu {
  margin-top: 50px;
  width: 15%;
  /* border: 1px solid black; */
}

.mypage_list {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;

  font-family: "GmarketSansMedium";
  font-weight: 300;
}

.li_list_a {
  text-decoration: none;
  color: rgb(70, 170, 170);
}

.li_list_a:active {
  text-decoration: none;
  color: rgb(70, 170, 170);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #040404;
}

.li_list {
  margin-bottom: 20px;
}

/* main_right */

.main__section {
  margin-top: 100px;
  width: 95%;
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* main_right_top */

.main__top {
  width: 1050px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}

.member_box {
  display: flex;
  margin-top: 70px;
}

.member_box_img {
  width: 110px;
  height: 85px;
}

.member_box_img_a {
  width: 100px;
  height: 85px;
  border-radius: 50%;
}

.member_information {
  display: block;
  width: 700px;
  margin-left: 30px;

  border-right: thick solid #64c8c8;
}

.member_information_name {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;

  font-family: "GmarketSansMedium";
  font-weight: 500;
  font-size: 22px;
  color: rgb(4, 4, 4);
}

.member_information_accumulated_amount {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-size: 15px;
  color: rgb(4, 4, 4);
}

.saved_money {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.saved_money_name {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-size: 15px;

  text-align: center;
  margin-bottom: 5px;
}

.saved_money_amount {
  font-family: "GmarketSansMedium";
  font-weight: 700;
  font-size: 32px;
}

.saved_money_name_a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}

.saved_money_amount_a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}

/*order__data  */

.order__data {
  padding-bottom: 10px;
  border-bottom: 5px solid #64c8c8;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: "GmarketSansMedium";
}

/* main__order */

.main__order {
  font-family: "GmarketSansMedium";

  text-align: center;
  padding: 70px;
  color: rgb(39, 57, 125, 0.4);
}

/* main__order_list  */

.main__order_list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding-top: 50px;
}

.list__title {
  height: 40px;
  margin-top: 20px;
  display: flex;

  border-bottom: 1px solid #040404;
}

.list__title_list {
  display: flex;
  padding-top: 5px;
  border-bottom: 1px solid #d4d4d4;
}

.title_date {
  width: 120px;
}

.title_order_details {
  width: 500px;
}
.order_details {
  display: flex;
}

/* a태그 밑줄 x , 텍스트 색깔 검정 */
.a__order_details {
  text-decoration-line: none;
  color: #040404;
}

.title_order_img {
  width: 60px;
  height: 60px;
  padding-right: 40px;
  padding-left: 40px;
}
.title_order_content {
  padding-left: 0px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title_order_number {
  width: 120px;
}

.title_payment_amount {
  width: 120px;
}

.title_order_state {
  width: 280px;
}

/* 모달창 ============================== */
.modal {
  position: absolute;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;

  margin: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  margin: 0 auto;
  position: absolute;

  top: 50%;

  margin-top: 50px;
  /* width: 350px; */

  padding: 30px;

  text-align: center;

  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}
/* 닫기 버튼 */

.close_box {
  float: right;
}
.close {
  background-color: white;
  border-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.close:focus {
  background-color: white;
  border-color: white;
  border: none;
  outline: none;
}
.close_img {
  width: 20px;
  height: 20px;
  filter: invert(50%);
}

/* 회원 수정*/

.member_modify_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.img_box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.camera_btn {
  border-radius: 50px;
  border: 1px solid #d4d4d4;
  background-color: white;
}
.btn_box {
  width: 15px;
  height: 15px;
}

.member_img_box {
  position: relative;
}
.figcaption {
  position: absolute;
  left: 50px;
  right: px;

  bottom: 10px;
}

.input_box {
  margin-bottom: 25px;
  width: 400px;
}

.member_id {
  border-color: #e0e0e0;
  /* border: none; */
  border: 1px solid #bdbdbd;
  background-color: #f3f3f3;
  color: #bdbdbd;
  width: 320px;
  padding: 12px 16px;
}
.member_id:focus {
  outline: none;
  background-color: #f3f3f3;
  box-shadow: none;
}

.member_input {
  border: none;
  border: 1px solid #bdbdbd;
  width: 320px;
  padding: 12px 16px;
}
.member_input_01 {
  border: none;

  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  width: 320px;
  padding: 12px 16px;
}
.text_title {
  display: flex;
  height: 45px;
  margin-left: 23px;
  text-align: left;
}

.point_point {
  width: 30px;
  height: 35px;
  color: #1a6dff;
}

.i_img_box {
  margin: 10px 0;
}

.input_date {
  width: 350px;
  height: 40px;
}

.btn_modify {
  width: 350px;
  height: 50px;
  background-color: #96dcdc;
  border: none;
}

.btn_modify::before {
  cursor: pointer;
}
.btn_open_modal {
  font-size: 20px;
  border: 0;
  background-color: white;
  color: #46aaaa;
  margin: 0;
  padding: 0;
}
