.main__mypage {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}

/* 마이페이지 메뉴 리스트 */
.main__menu {
  margin-top: 50px;
  width: 15%;
  /* border: 1px solid black; */
}

.mypage_list {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;

  font-family: "GmarketSansMedium";
  font-weight: 300;
}

.li_list_a {
  text-decoration: none;
  color: rgb(70, 170, 170);
}

.li_list_a:active {
  text-decoration: none;
  color: rgb(70, 170, 170);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #040404;
}

.li_list {
  margin-bottom: 20px;
}

.main__section {
  width: 1140px;
  margin-top: 100px;
  width: 95%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 회원 정보 박스 */
.main__top {
  width: 1050px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}

.member_box {
  display: flex;
  margin-top: 70px;
}

.member_box_img {
  width: 110px;
  height: 85px;
}

.member_box_img_a {
  width: 100px;
  height: 85px;
  border-radius: 50%;
}

.member_information {
  display: block;
  width: 700px;
  margin-left: 30px;

  border-right: thick solid #64c8c8;
}

.member_information_name {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;

  font-family: "GmarketSansMedium";
  font-weight: 500;
  font-size: 22px;
  color: rgb(4, 4, 4);
}

.member_information_accumulated_amount {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-size: 15px;
  color: rgb(4, 4, 4);
}

.saved_money {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.saved_money_name {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-size: 15px;

  text-align: center;
  margin-bottom: 5px;
}

.saved_money_amount {
  font-family: "GmarketSansMedium";
  font-weight: 700;
  font-size: 32px;
}

.saved_money_name_a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}

.saved_money_amount_a {
  text-decoration-line: none;
  color: rgb(4, 4, 4);
}

/* 1 : 1 문의게시판 */
.order__details {
  width: 1140px;
}

.order__data {
  padding-bottom: 10px;
  border-bottom: 5px solid #64c8c8;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: "GmarketSansMedium";
}

.input__box {
  display: flex;
  border-bottom: 2px solid #d4d4d4;
  height: 70px;
  margin-top: 10px;
}

.input_box_list_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-right: 2px solid #d4d4d4;
}
.input_box_list_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 50px;
}
.input_title {
  width: 600px;
  height: 40px;
  padding-left: 5px;
}

.input_content_box {
  display: flex;

  border-bottom: 2px solid #d4d4d4;
}
.input_content_box_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.input_content_box_content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 900px;
  height: 250px;

  border-left: 2px solid #d4d4d4;
}
.input_content {
  width: 600px;
  height: 200px;
  padding-left: 5px;
  resize: none;
}

/* 이미지박스 */
.img_box {
  display: flex;
}
.input_img_box {
  display: flex;
  border-bottom: 2px solid #d4d4d4;
}

.input_img_box_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.input_img_box_img {
  width: 900px;
  height: 250px;

  border-left: 2px solid #d4d4d4;
}
/* 파일첨부 */
.img_size {
  width: 70px;
  height: 70px;
  padding-top: 20px;
  padding-left: 150px;
}
.file {
  padding-top: 20px;
  padding-left: 155px;
}
.member_img_box {
  position: relative;
}
/* .figcaption {
  position: absolute;
  left: 50px;
  right: px;

  bottom: 10px;
}
.img_box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.btn_box {
  width: 15px;
  height: 15px;
} */
/* ----------------- */
.content_list {
  padding-left: 155px;
  color: #d4d4d4;
}

.writinginquiries_btn {
  display: flex;
  padding-top: 10px;
  height: 30px;
  flex-direction: row-reverse;
}
.btn {
  background-color: white;
}
.btn:hover {
  background-color: #64c8c8;
  font-family: "GmarketSansMedium";
  border: 1px solid #64c8c8;
  cursor: pointer;
}
#a {
  text-decoration: none;
  color: #040404;
}
